@font-face {
    font-family: 'xb';
    src: url('/assets/xb.otf');
}

@font-face {
    font-family: 'xbi';
    src: url('/assets/xbi.otf');
}

@font-face {
    font-family: 'por';
    src: url('/assets/por.ttf');
}

@font-face {
    font-family: 'context';
    src: url('/assets/context.ttf');
}

@font-face {
    font-family: 'contexti';
    src: url('/assets/contexti.ttf');
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}

/**
* Firefox specific rule
*/
@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

* {
    margin: 0;
    /* font-family: 'xb', serif; */
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    opacity: 1;
    padding-bottom: 100px;
    transition: all 0.3s linear;
}

#loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#loading-text {
    width: 220px;
    font-size: 3rem;
    font-family: 'xb', serif;
    /* background-color: lime; */
}

#title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 6.7vh;
    pointer-events: none;
}

@keyframes loadFlash {
    0%   {opacity: 1}
    50%  {opacity: 0}
    100% {opacity: 1}
}

h1 {
    /* min-width: 220px; */
    max-width: 95%;
    cursor: pointer;
    pointer-events: auto;
    text-align: center;
    word-spacing: 4vmin;
    line-height: 1.6;
    font-size: 6.5vmin;
    font-family: 'xb', serif;
    animation: loadFlash 3s ease-in-out infinite;
    /* animation: fade 0.5s ease-in 1; */
    /* background-color: lime; */
}

#homepage-wrap {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    padding-bottom: 500px;
}

@keyframes bounce {
    0%   {transform: translateY(0px)}
    50%  {transform: translateY(-40px)}
    100% {transform: translateY(0px)}
}

@keyframes margin {
    0%   {margin-bottom: 200px}
    50%  {margin-bottom: 220px}
    100% {margin-bottom: 200px}
}

@keyframes flash {
    0%   {opacity: 1}
    50%  {opacity: 0.4}
    100% {opacity: 1}
}

@keyframes glow {
    0%   {text-shadow: 0px 0px 0px white}
    20%  {text-shadow: 0px 0px 0px white}
    50%  {text-shadow: 0px 0px 4px white}
    80%  {text-shadow: 0px 0px 0px white}
    100% {text-shadow: 0px 0px 0px white}
}

@keyframes fade {
    0%   {opacity: 0}
    100% {opacity: 1}
}

.homepageImgs {
    position: absolute;
    width: 200px;
    cursor: pointer;
    filter: drop-shadow(8px 8px 20px rgb(0, 0, 0)) brightness(0);
    transition: filter 0.3s ease-in;
    user-select: none;
    outline: none;
    /* animation: fade 0.5s ease-out 1; */
    /* transition: transform 0.3s ease-in-out; */
}

.homepageImgs:last-of-type {
    margin-bottom: 300px;
    /* animation: margin 1s ease-in 3; */
}

#openPer {
    color: lime;
}

.italic {
    font-family: 'xbi';
}

#work-view {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
}

#work-view-inner {
    display: none;
    animation: fade 0.5s ease-in;
}

#work-deets {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

#work-deets p {
    font-family: 'xb', serif;
    font-size: 2vmin;
    line-height: 1.2;
    margin-right: 30px;
}

#work-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
}

.mediaWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 20vh 5px;
    max-width: 90%;
    /* overflow: hidden; */
}

video {
    outline: none;
}

.double-portrait-wrap {
    display: block;
}

.mediaWrap img, .mediaWrap video {
    height: 100%;
    max-width: 100%;
    /* padding: 0px 5px; */
    /* cursor: zoom-in; */
    /* filter: drop-shadow(3px 3px 10px black); */
}

.media-description {
    margin-top: 10px;
    font-family: 'xb', serif;
}

.media-description p {
    font-size: 2vmin;
}

.media-text {
    display: block;
    width: 37%;
    margin-bottom: 20vh;
    font-family: 'xb', serif;
}

.media-text p span em {
    font-size: 2.3vmin;
}

/* .media-description p {
    font-size: 1rem;
} */

#extra {
    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
    font-family: 'xb', serif;
}

#extra p {
    /* font-family: 'xbi'; */
    text-align: center;
    font-size: 2vmin;
}

@keyframes clickMe {
    0%   {transform: translateY(0px)}
    10%  {transform: translateY(-2px)}
    30%  {transform: translateY(0px)}
    100% {transform: translateY(0px)}
}

#extra a {
    /* position: absolute; */
    /* margin-left: 5px; */
    color: black;
    text-decoration: none;
    transition: text-shadow 0.5s linear;
    /* animation: glow 5s ease-in infinite; */
}

#extra a:hover {
    text-shadow: 0px 0px 2px black;
}

#extra a:visited {
    color: black;
}

#info {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    background-color: rgba(255, 255, 255, 0.9);
}

#cornerImg {
    position: absolute;
    top: 0;
    right: 27px;
    width: 180px;
    filter: drop-shadow(2px 2px 8px rgb(0, 0, 0));
}

#icons {
    position: relative;
    width: 37%;
}

#icons a:visited, #credits a:visited {
    color: black;
}

.contactIconOuter {
    position: absolute;
    width: 30px;
    text-decoration: none;
    filter: drop-shadow(0px 0px 0px rgb(0, 0, 0));
}

.contactIconOuter img {
    width: 100%;
}

.contactIconOuter:nth-of-type(1) {
    top: 10%;
    left: 50%;
    transform: rotate(-15deg);
}

.contactIconOuter:nth-of-type(2) {
    top: 50%;
    left: 89%;
    transform: rotate(5deg);
}

.contactIconOuter:nth-of-type(3) {
    top: 80%;
    left: 10%;
    transform: rotate(5deg);
}

#cv {
    /* position: relative; */
    font-family: 'xb';
    font-size: 2.3vmin;
    transition: text-shadow 0.5s linear;
}

#cv:hover {
    text-shadow: 0px 0px 2px black;
}

#credits {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-family: 'xb', serif;
}

#credits a, #icons a {
    display: inline;
    position: relative;
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 1350px) {

    .double-portrait-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 1000px) {

    #homepage-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homepageImgs {
        position: initial;
        margin-bottom: 150px;
    }

}

/* @media screen and (max-width: 1503px) {

    #extra {
        margin-bottom: 45vh;
    }

} */

@media (hover: none) and (pointer: coarse) {

    #title-wrap {
        bottom: 30px;
    }

    h1 {
        font-size: 2.2rem;
    }

    #homepage-wrap {
        padding-bottom: 20vh;
    }

    .homepageImgs {
        max-width: 95%;
        filter: drop-shadow(0px 0px 0px rgb(0, 0, 0)) brightness(1);
    }

    .homepageImgs:first-of-type {
        margin-top: 100px;
    }

    .homepageImgs:last-of-type {
        /* margin-bottom: 20vh; */
    }

    #work-view {
        /* display: block; */
    }

    #work-deets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
    }

    #work-deets p {
        margin-right: 0px;
    }

    #work-images {
        position: relative;
        /* margin-top: 0px; */
    }

    .mediaWrap {
        margin-bottom: 8px;
    }

    .media-text {
        margin-bottom: 15px;
    }

    .mediaWrap img {
        height: auto;
        padding: 0px;
    }

    .media-description, .media-text {
        width: 90%;
    }

    #extra {
        margin-bottom: 200px;
    }

    #extra p, #work-text p {
        max-width: 90%;
    }

    #info {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #icons {
        width: 90%;
        margin: 0 auto;
    }

    .contactIconOuter {
        display: inline-block;
        position: initial;
        width: 10%;
        margin-left: 9%;
        margin-top: 30px;
        transform: rotate(0deg);
    }

    .contactIconOuter img {
        width: 100%;
    }

    /* #icons a {
        position: relative;
        margin-left: 0;
        margin-top: 0;
    } */

    #credits {
        position: relative;
        margin-top: 100px;
        margin-left: 5%;
        margin-bottom: 10px;
        font-size: 10px;
    }

    #credits a {
        display: inline;
        width: auto;
        margin-left: 0;
        margin-top: 0;
    }

    #cornerImg {
        position: relative;
        width: 40%;
        margin-left: 55%;
        margin-bottom: 50px;
}
